<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <script
        src="https://webapi.amap.com/maps?v=1.4.15&key=93c9ccfbf459daf45c035da702e15217&plugin=AMap.Driving"></script>
    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Map</title>
</head>

<body>
    <div class="banner">
        <nav>
            <ul class="level" id="level">
                <li>
                    <a href="#">路名</a>
                    <ul class="two">
                        <roadli v-for="road in roadlist" v-bind:road="road" v-on:click.native="vSelectRoad"></roadli>
                        <li class="style_addSome road" @click="showAddSpan($event)">添加一个路</li>
                    </ul>
                </li>
                <li>
                    <a href="#">路口</a>
                    <ul class="two">
                        <!-- <li onclick='selectPoint("九峰一路与孟新路")'>九峰一路与孟新路</li>
                        <li onclick='selectPoint("九峰一路与花山大道")'>九峰一路与花山大道</li> -->
                        <crossli v-for="cross in crossList" v-bind:cross="cross" v-on:click.native="vSelectCross">
                        </crossli>
                        <li class="style_addSome cross" @click="showAddSpan($event)">添加一个路口</li>
                    </ul>
                </li>
                <li>
                    <a href="#">路段</a>
                    <ul class="two">
                        <C2Cli v-for="C2C in C2CList" v-bind:C2C="C2C" @click.native="vSelectC2C"></C2Cli>
                        <li class="style_addSome C2C" @click="showAddSpan($event)">添加一个路段</li>
                    </ul>
                </li>

                <transition name="slide-fade">
                    <div>
                        <addroad v-if="isShow.road" v-on:closeaddspan="closeAddSpan" v-on:addroad="addroad"></addroad>
                        <addcross v-if="isShow.cross" v-on:closeaddspan="closeAddSpan"></addcross>
                        <addc2c v-if="isShow.C2C" v-on:closeaddspan="closeAddSpan"></addc2c>
                    </div>
                </transition>
                <div class="clear">
            </ul>
        </nav>
    </div>
    <div class="info2">
        <div id="dDistance"></div>
        <div id="sStatus">点击地图获取经纬度</div>
    </div>
    <div id="container"> </div>
    <div id="panel" style="display:none"></div>

</body>
<script src="main.js"></script>
<script src="vMain.js"></script>

</html>