<!DOCTYPE html>
<html>
  <head>
    <title>Fatan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>
  <body>
    <div class="container">
      <!-- Content here -->
      <h1>Fatan.xyz </h1>
      <p>Welcome to my website and enjoy that,</br>this site is being devoloping</p>
    </div>
    <div class = "loginbox box">
      <form class="" action="index.html" method="post">
        <div class="input-group">
          <input type="text" class="form-control loginusername" placeholder="请输入用户名" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <input type="password" class="form-control loginuserpassword " placeholder="请输入密码" aria-describedby="basic-addon1">
        </div>
        <div class="button-group">
          <button type="button" class="btn btn-light login" onclick="go_login()">登录</button>
          <button type="button" class="btn btn-light goReg" onclick="go_reg()">注册</button>
        </div>
      </form>
    </div>

    <div class="regbox box">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text " id="basic-addon1">请输入用户名:</span>
        </div>
        <input type="text" class="form-control regname" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入密码:</span>
        </div>
        <input type="password" class="form-control regpassword" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入邮箱:</span>
        </div>
        <input type="text" class="form-control regmail" placeholder="Email" aria-label="Password" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入验证码:</span>
        </div>
        <input type="text" class="form-control input-key" placeholder="code" aria-label="code" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <span class="input-group-text send-key" id="basic-addon1" onclick="send_key()" style="cursor:default">发送验证码</span>
        </div>
      </div>

        <div class="button-group">
          <button type="button" class="btn btn-light" onclick="go_logup()">注册</button>
          <button type="button" class="btn btn-light" onclick="back_log()">返回</button>
        </div>
    </div>


    <div class="msgbox box">
      <p>this is a message</p>
    </div>


    <script type="text/javascript">
      function go_reg(event){
        $(".loginbox").css("display","none");
        $(".regbox").css("display","block");
      }

      function back_log(event){
        $(".loginbox").css("display","block");
        $(".regbox").css("display","none");
      }

      function go_login(event){
        var loginname = $("input.loginusername").eq(0).val();
        var loginpassword = $("input.loginuserpassword").eq(0).val();
        console.log(loginname);
        $.post("/checkuser",{loginname:loginname,loginpassword:loginpassword},function(res){
        if(res.msg == "登录成功"){
            document.location="./album.html";
        }
        else{alert(res.msg)};
        });
      }

      var codekey = '';
      function send_key(event){
        var mailadd = $(".regmail").eq(0).val()
        $(".send_key").attr("disabled",true);
        $.post("send_key/send",{email:mailadd},function(res){
          console.log(res.msg);
          codekey = res.key;
        })
        //将来添加
      }

      function msgbox_alert(_msg){
        $("div.msgbox").eq(0).text(_msg);
        $("div.msgbox").eq(0).css("display","block");
        $("div.msgbox").eq(0).fadeOut(3000);
      }

      function go_logup(event){
        var regname = $(".regname").eq(0).val();
        var regpassword = $(".regpassword").eq(0).val();
        var regmail = $(".regmail").eq(0).val();
        var iskey = (codekey ==  $("input.input-key").eq(0).val());
        $(".regname").eq(0).val("");
        $(".regpassword").eq(0).val("");
        $(".regmail").eq(0).val("");
        if(regname && regpassword ){
          if(iskey){
          //验证正确
            $.post("/login/reg",{regname:regname,regpassword:regpassword,regmail:regmail},res=>{
              if(res="save completed"){
                document.location="./album.html";
              }
            })
          }
          else{
            //key验证失败
            msgbox_alert("验证码不正确");
          }
        }
        else{
          //用户名密码验证失败
          msgbox_alert("用户名密码不合要求");
        }
      }
    </script>
  </body>
</html>
