<!DOCTYPE html>
<html>
  <head>
    <title>Fatan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>
  <body>
    <div class="container">
      <!-- Content here -->
      <h1>Fatan.xyz </h1>
      <p>Welcome to my website and enjoy that,</br>this site is being devoloping</p>
    </div>
    <div class = "loginbox box">
      <form class="" action="index.html" method="post">
        <div class="input-group">
          <input type="text" class="form-control loginusername" placeholder="请输入用户名" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <input type="password" class="form-control loginuserpassword " placeholder="请输入密码" aria-describedby="basic-addon1">
        </div>
        <div class="button-group">
          <button type="button" class="btn btn-light login" onclick="go_login()">登录</button>
          <button type="button" class="btn btn-light goReg" onclick="go_reg()">注册</button>
        </div>
      </form>
    </div>

    <div class="regbox box">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入用户名:</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入密码:</span>
        </div>
        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入邮箱:</span>
        </div>
        <input type="text" class="form-control email-input" placeholder="Email" aria-label="Password" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">请输入验证码:</span>
        </div>
        <input type="text" class="form-control" placeholder="code" aria-label="code" aria-describedby="basic-addon1">
        <div class="input-group-prepend">
          <span class="input-group-text send-key" id="basic-addon1" onclick="send_key()">发送验证码</span>
        </div>
      </div>

        <div class="button-group">
          <button type="button" class="btn btn-light">注册</button>
          <button type="button" class="btn btn-light" onclick="back_log()">返回</button>
        </div>
    </div>


    <div class="msgbox box">
      <p>this is a message</p>
    </div>


    <script type="text/javascript">
      function go_reg(event){
        $(".loginbox").css("display","none");
        $(".regbox").css("display","block");
      }
      function back_log(event){
        $(".loginbox").css("display","block");
        $(".regbox").css("display","none");
      }
      function go_login(event){
        var loginname = $("input.loginusername").eq(0).val();
        var loginpassword = $("input.loginuserpassword").eq(0).val();
        console.log(loginname);
        $.post("/checkuser",{loginname:loginname,loginpassword:loginpassword},function(res){
        if(res.msg == "登录成功"){
            document.location="./album.html";
        }
        else{alert(res.msg)};
        });
      }

      function send_key(event){
        var mailadd = $(".email-input").eq(0).val()
        $.post("send_key/send",{email:mailadd},function(res){
          console.log(res);
        })
        //将来添加
      }
    </script>
  </body>
</html>
