<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body onload=load() style="text-align: center;line-height: 450px;">
    你已成功登陆!<span class="last_time"></span>秒后跳转主页.
    <script type="text/javascript">
      function load(){
        let wait_time = 3;
        document.getElementsByClassName("last_time")[0].innerHTML = wait_time;
        setInterval(function (){
          if(wait_time != 0){
            document.getElementsByClassName("last_time")[0].innerHTML = --wait_time;
          }
          else{
            // window.location.replace("../album.html");
            window.location.replace("../mysite.html");
          }
        }, 1000);
      }
    </script>
  </body>
</html>
