<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body onload=load()>
    你已成功登陆!
    <script type="text/javascript">
      function load(){
        window.location.replace("../album.html");
      }
    </script>
  </body>
</html>
