*{
  margin:0px ;
  padding:0px;
}
a{
  color:white;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  background: url("../images/bg-blue.jpg" );
  width: auto;
  height: 1100px;
}


div.content{
  margin-top: 70px;
  height: 90%;
  position: relative;
  margin-left: 10%;
}

.tab-content{
  background: white;
  min-height:300px;
}

.bg-choice{
  top:150px;
  background: white;
  position: absolute;
  width:15px;
  height: 30px;
  font-size: 10px;
  border-radius: 0 5px 5px 0;
  border: solid 1px black;
  cursor:default;
}

.bg-choice:hover{
  background: white;
  width:80px;
  height: 100px;
  position: absolute;
  border-radius: 0 5px 5px 0;
  border: solid 1px black;
  cursor:default;
}

.mini-tab{
}

.full-tab{
  margin:0px;
}
.bg-cl-choice {
  margin:0px;
}

.tip>ul{
  height:18px;
  text-align: 15px;
  weight:80px;
  position: absolute;
  top:15px;
  right:15px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: white;
  list-style: none;
}
.tip>ul>li{
  /* float:left; */
  display: inline-block;
}
.tip>ul>li:hover{
  background: rgba(255, 255, 255, 0.7);
  color: black ;
  transition: background 0.5s,color 0.5s;
}

.record_box{
  display: none;
  width: 600px;
  height: 450px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left: -300px;
  margin-top: -225px;
}



.footer{
  position: relative;
  width:100%;
  height: 90px;
  background-color:rgba(255,255,255,0.5);
  /* top: 110%; */
  text-align: center;
  line-height: 45px;
}
