<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/MySite.css' />
    <title>MySite</title>
</head>
<body>
    <div class = "header">
        <img src="./images/51banner.jpg"/>
        <div class="nav"><ul>this is nav</ul></div>
    </div>
    <div class="container" id= "container" >
        <div class = "center col">
          <div id="articles">
            <articles
                v-for="item in articles"
                v-bind:aaa = "item"
            ></articles>
          </div>
          <ul id="pageNumList">
            <pages
                v-for="item in pageNum"
                v-bind:page = "item"
            ></pages>
          </ul>
        </div>
        <div class = "left col">this is left</br>123</div>
        <div class = "right col">this is right</div>
    </div>
    <div class = "footer">
        <p> 鄂ICP备19026213号-1</p>
        <p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42018502004261" >鄂公网安备 42018502004261号</a></p>
    </div>
</body>
<script>
    // $(document).ready(function(){
    //   $.post('/article/getall',{page:1,limit:5},function(res){
    //     console.log(res);
    //   });
    // });


    Vue.component('articles', {
        props:["aaa"],
        template:
                "<div class = 'article'>\
                    <h1 class ='title'>{{aaa.title}}</h1>\
                    <p class = 'author'>作者:{{aaa.author}}</p>\
                    <p class = 'date'>{{aaa.date}}</p>\
                    </br>\
                    <span class = 'content' v-html ='aaa.content'></span>\
                </div>",
    });
    Vue.component('pages', {
        props:["page"],
        template: "<li>{{page.text}}</li>"
    });

    var app = new Vue({
        el:"#container",
        data:{
            articles:[],
            pageNum:[{
              id:0,
              text:"上一页"
            },{
              id:1,
              text:"1"
            },{
              id:-1,
              text:"下一页"
            }]
        },
        methods:{
          greet:function(){
            var thiss = this;
            this.articles = $.post('/article/getall',{page:1,limit:5},function(res){
              thiss.articles = res.msg;
            });
          }
        },
        mounted:function(){
          this.greet()
        }
    })
</script>
</html>
